<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Authenticatie</ion-title>
  </ion-navbar>

  <ion-toolbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="login" [disabled]="!registered">Inloggen</ion-segment-button>
    <ion-segment-button value="register">Wachtwoord instellen</ion-segment-button>
  </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="segment === 'login'">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Wachtwoord</ion-label>
          <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button (click)="login()">Log in</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segment === 'register'">
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-list>
          <ion-item>
            <ion-label stacked>Oud wachtwoord</ion-label>
            <ion-input type="password" formControlName="oldPassword"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Nieuw wachtwoord</ion-label>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Bevestig nieuw wachtwoord</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button [disabled]="!registerForm.valid">Registreer</button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
